{% extends 'dashboard_base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="slim-body">
        {% include 'partials/sidebar.html.twig' with departments %}
        <div class="slim-mainpanel">
            <div class="container">
                <div class="slim-pageheader">
                    <ol class="breadcrumb slim-breadcrumb">
                        {#                        <li class="breadcrumb-item"><a href="#">Home</a></li>#}
                        {#                        <li class="breadcrumb-item active" aria-current="page">Blank Page</li>#}
                    </ol>
                    <h6 class="slim-pagetitle">Change Password</h6>
                </div><!-- slim-pageheader -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="section-wrapper">
                            <label class="section-title">Change Password</label>
                            <div class="form-layout">
                                {% for label, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ label }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                <form action="" method="post" id="changePassword">
                                    <div class="row mg-b-5 mg-t-5">
                                        <div class="col-lg-6 offset-lg-3">
                                            <div class="form-layout">
                                                {% for label, messages in app.flashes %}
                                                    {% for message in messages %}
                                                        <div class="alert alert-{{ label }}">
                                                            {{ message }}
                                                        </div>
                                                    {% endfor %}
                                                {% endfor %}
                                                <div class="form-group">
                                                    <label for="old_password">Old password</label>
                                                    <input minlength="4" type="password" name="password" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="new_password">New password</label>
                                                    <input minlength="8" id="new_password" type="password" name="new_password" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="confirm_password">Confirm password</label>
                                                    <input minlength="8" data-parsley-equalto="#new_password" type="password" name="confirm_password" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="form-layout-footer">
                                                <button type="submit" class="btn btn-primary btn-block">CHANGE PASSWORD</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/lib/parsleyjs/js/parsley.js') }}"></script>
{% endblock %}

{% block editionalScripts %}
    <script>
        $(document).ready(function () {
            $('.form-layout .form-control').on('focusin', function () {
                $(this).closest('.form-group').addClass('form-group-active');
            });

            $('.form-layout .form-control').on('focusout', function () {
                $(this).closest('.form-group').removeClass('form-group-active');
            });

            $('#changePassword').parsley();
        });
    </script>
{% endblock %}
