{% extends 'dashboard_base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/lib/select2/css/select2.min.css') }}">
{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="slim-body">
        {% include 'partials/sidebar.html.twig' with departments %}
        <div class="slim-mainpanel">
            <div class="container">
                <div class="slim-pageheader">
                    <ol class="breadcrumb slim-breadcrumb">
{#                        <li class="breadcrumb-item"><a href="#">Home</a></li>#}
{#                        <li class="breadcrumb-item active" aria-current="page">Blank Page</li>#}
                    </ol>
                    <h6 class="slim-pagetitle">Edit Profile</h6>
                </div><!-- slim-pageheader -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="section-wrapper">
                            <label class="section-title">Edit Profile</label>
                            <div class="form-layout">
                                {% for label, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ label }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                <form action="" method="post" id="editProfile">
                                    <div class="row mg-b-5 mg-t-5">
                                        <div class="col-lg-4">
                                            <img src="{{ asset('assets/upload/avatar/' ~ details.avatar) }}" alt="profile pic" class="img-thumbnail">
                                            <div class="form-group mt-2">
                                                <div class="custom-file">
                                                    <input type="file" name="assignment_file" class="custom-file-input" id="customFile2">
                                                    <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="fullname">Full Name</label>
                                                        <input class="form-control" pattern="[a-zA-Z]+" data-parsley-trigger="keyup" type="text" name="fullname" placeholder="Full Name" value="{{ details.fullname | default }}">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="phonenumber">Phone Number</label>
                                                        <input class="form-control" data-parsley-trigger="keyup" minlength="11" maxlength="11" pattern="\d+" type="text" name="phone" placeholder="Phone Number" value="{{ details.phoneNumber | default }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="twitter">Twitter Profile</label>
                                                        <input class="form-control" data-parsley-trigger="keyup" type="url" name="twitter" placeholder="Twitter Profile" value="{{ details.twitterProfile | default }}">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="facebook">Facebook Profile</label>
                                                        <input class="form-control" data-parsley-trigger="keyup" type="url" name="facebook" placeholder="Facebook Profile" value="{{ details.facebookProfile | default }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="google">Google Profile</label>
                                                        <input class="form-control" data-parsley-trigger="keyup" type="url" name="google" placeholder="Google Profile" value="{{ details.googleProfile | default }}">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="website">Website</label>
                                                        <input class="form-control" data-parsley-trigger="keyup" type="url" name="website" placeholder="Website" value="{{ details.siteUrl | default }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-layout-footer float-right">
                                                <button type="submit" class="btn btn-primary bd-0">UPDATE</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/lib/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/lib/parsleyjs/js/parsley.js') }}"></script>
{% endblock %}

{% block editionalScripts %}
    <script>
        $(document).ready(function () {
            $('.form-layout .form-control').on('focusin', function () {
                $(this).closest('.form-group').addClass('form-group-active');
            });

            $('.form-layout .form-control').on('focusout', function () {
                $(this).closest('.form-group').removeClass('form-group-active');
            });
            $('.s2-depart, .s2-courses').select2();

            $('#editProfile').parsley();
        });
    </script>
{% endblock %}
