{% extends 'dashboard_base.html.twig' %}

{% block title %}Update Staff{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/lib/select2/css/select2.min.css') }}">
{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="slim-body">
        {% include 'partials/sidebar.html.twig' with departments %}
        <div class="slim-mainpanel">
            <div class="container">
                <div class="slim-pageheader">
                    <ol class="breadcrumb slim-breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blank Page</li>
                    </ol>
                    <h6 class="slim-pagetitle">update staff</h6>
                </div><!-- slim-pageheader -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="section-wrapper">
                            <label class="section-title">update staff</label>
                            <form action="" method="post" id="updateStaff">
                            <div class="form-layout">
                                {% for label, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ label }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                <div class="row mg-b-5 mg-t-5">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" name="email" value="{{ user.email }}" required class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div id="slParsleyWrapper" class="parsley-select">
                                                <label for="gender">Gender</label>
                                                <select class="form-control select2" name="gender" id="gender" required>
                                                    <option value="{{ user.gender }}">{{ user.gender }}</option>
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                    <option value="other">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div id="slParsleyWrapper" class="parsley-select">
                                                <label for="department">Department</label>
                                                <select name="department" id="department" class="form-control select2" required>
                                                    <option value="{{ user.staffDetails.department.id }}">{{ user.staffDetails.department }}</option>
                                                    {% for department in departments %}
                                                        <option value="{{ department.id }}">{{ department.department }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mg-b-5">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div id="slParsleyWrapper" class="parsley-select">
                                                <label for="designation">Designation</label>
                                                <select name="designation" id="designation" class="form-control select2">
                                                    <option value="{{ user.staffDetails.designation.id }}">{{ user.staffDetails.designation }}</option>
                                                    {% for designation in designations %}
                                                        <option value="{{ designation.id }}">{{ designation.designation }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mg-b-5">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div id="slParsleyWrapper" class="parsley-select">
                                                <label for="roles">Roles</label>
                                                <select multiple name="roles[]" id="roles" class="form-control select2">
                                                    {% for role, value in roles %}
                                                        <option value="{{ role }}" {% if role in user.roles %}selected{% endif %}>{{ value }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-layout-footer">
                                    <button class="btn btn-primary" type="submit">UPDATE STAFF</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/lib/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/lib/parsleyjs/js/parsley.js') }}"></script>
{% endblock %}

{% block editionalScripts %}
    <script>
        $(document).ready(function () {
            $(".select2").select2();
        });
    </script>
{% endblock %}