<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Portal | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/lib/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/lib/Ionicons/css/ionicons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/slim.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
</head>
<body class="slim-sticky-sidebar">

{% block body %}

{% endblock %}


<script src="{{ asset('assets/lib/jquery/js/jquery.js') }}"></script>
<script src="{{ asset('assets/lib/popper.js/js/popper.js') }}"></script>
<script src="{{ asset('assets/lib/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js') }}"></script>
{% block javascripts %}

{% endblock %}
<script src="{{ asset('assets/js/slim.js') }}"></script>
<script src="{{ asset('assets/js/custom.js') }}"></script>
{% block editionalScripts %}
{% endblock %}
</body>
</html>
