{% extends 'dashboard_base.html.twig' %}

{% block title %}{{ departmentDetails.department }}{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="slim-body">
        {% include 'partials/sidebar.html.twig' with departments %}
        <div class="slim-mainpanel">
            <div class="container">
                <div class="manager-header">
                    <div class="slim-pageheader">
                        <ol class="breadcrumb slim-breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blank Page</li>
                        </ol>
                        <h6 class="slim-pagetitle">{{ departmentDetails.department }}</h6>
                    </div><!-- slim-pageheader -->
                </div>
                <div class="manager-wrapper">
                    <div class="manager-right">
                        <div class="row row-sm">
                            {% if departmentDetails.studentDetails.count > 0 %}
                                {% for student in departmentDetails.studentDetails %}
                                    <div class="col-sm-6 col-lg-4 mg-b-20">
                                        <div class="card-contact">
                                            <div class="tx-center">
                                                <a href=""><img
                                                            src="{{ asset('assets/upload/avatar/' ~ student.avatar ) }}"
                                                            class="card-img"
                                                            alt="{{ student.user.email | shortEmail }}"></a>
                                                <h5 class="mg-t-10 mg-b-5">
                                                    <a href="" class="contact-name">
                                                        {% if student.fullname is not null or student.fullname is not empty %}
                                                            {{ student.fullname }}
                                                        {% else %}
                                                            {{ student.user.email | shortEmail }}
                                                        {% endif %}
                                                    </a>
                                                </h5>
                                                <p>{{ student.program }}</p>
                                                <p class="contact-social">
                                                    {% if student.facebookProfile is null or student.facebookProfile is empty%}
                                                        <a href="#"><i class="fa fa-facebook text-black-50 disable"></i></a>
                                                    {% else %}
                                                        <a target="_blank" href="{{ student.facebookProfile }}"><i class="fa fa-facebook"></i></a>
                                                    {% endif %}
                                                    {% if student.twitterProfile is null or student.twitterProfile is empty %}
                                                        <a href="#"><i class="fa fa-twitter text-black-50 disable"></i></a>
                                                    {% else %}
                                                        <a target="_blank" href="{{ student.twitterProfile }}"><i class="fa fa-twitter"></i></a>
                                                    {% endif %}
                                                    {% if student.googleProfile is null or student.googleProfile is empty %}
                                                        <a href="#"><i class="fa fa-google text-black-50 disable"></i></a>
                                                    {% else %}
                                                        <a target="_blank" href="{{ student.googleProfile }}"><i class="fa fa-google"></i></a>
                                                    {% endif %}
                                                </p>
                                            </div><!-- tx-center -->
                                            <p class="contact-item">
                                                <span>Phone:</span>
                                                <span>
                                                    {% if student.phoneNumber is null or student.isPhoneAvailable == 0 or student.phoneNumber is empty %}
                                                        Not Available
                                                    {% else %}
                                                        {{ student.phoneNumber }}
                                                    {% endif %}
                                                </span>
                                            </p><!-- contact-item -->
                                            <p class="contact-item">
                                                <span>Email:</span>
                                                <a href="#" data-toggle="tooltip-primary" data-placement="top" title="{{ student.user.email }}">{{ student.user.email | shortText }}</a>
                                            </p><!-- contact-item -->
                                            <p class="contact-item">
                                                <span>URL:</span>
                                                    {% if student.siteUrl is null or student.siteUrl is empty %}
                                                        Not Available
                                                    {% else %}
                                                    <a target="_blank" href="{{ student.siteUrl }}">
                                                        {{ student.siteUrl | shortText }}
                                                    </a>
                                                    {% endif %}
                                            </p><!-- contact-item -->
                                        </div><!-- card -->
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="alert alert-danger">
                                        Ooops! No record found
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="manager-left">
                        {% include 'partials/department_sidebar.html.twig' with { 'departmentDetails' : departmentDetails } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

