{% extends 'dashboard_base.html.twig' %}

{% block title %}{{ departmentDetails.department }}{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="slim-body">
        {% include 'partials/sidebar.html.twig' with departments %}
        <div class="slim-mainpanel">
            <div class="container">
                <div class="manager-header">
                    <div class="slim-pageheader">
                        <ol class="breadcrumb slim-breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blank Page</li>
                        </ol>
                        <h6 class="slim-pagetitle">{{ departmentDetails.department }}</h6>
                    </div><!-- slim-pageheader -->
                </div>
                <div class="manager-wrapper">
                    <div class="manager-right">
                        <div class="row row-sm">
                            {% if departmentDetails.cources.count > 0 %}
                                <div class="col-sm-12 col-md-12 col-lg-12 mg-b-20">
                                    <ul class="list-group list-group-striped">
                                        {% for course in departmentDetails.cources %}
                                            <li class="list-group-item">
                                                <strong class="tx-medium tx-inverse">
                                                    {% if loop.index < 10 %}
                                                        0{{ loop.index }}
                                                    {% else %}
                                                        {{ loop.index }}
                                                    {% endif %}
                                                </strong>
                                                <span class="text-muted">{{ course.course }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="alert alert-danger">
                                        Ooops! No record found
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="manager-left d-sm">
                        {% include 'partials/department_sidebar.html.twig' with { 'departmentDetails' : departmentDetails } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

