{% extends 'dashboard_base.html.twig' %}

{% block title %}All Courses{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
<div class="slim-body">
    {% include 'partials/sidebar.html.twig' with departments %}
    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Blank Page</li>
                </ol>
                <h6 class="slim-pagetitle">All course</h6>
            </div><!-- slim-pageheader -->
            <div class="row">
                <div class="col-lg-12">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <ul class="list-group">
                        {% for course in courses %}
                            <a href="{{ url('exams_add', { 'course': course.id }) }}" class="list-group-item list-group-item-action">
                                <div class="row justify-content-between">
                                    <div class="col">
                                        {{ course.course.course }}
                                    </div>
                                    <div class="col">
                                        {{ course.program.program }}, {{ course.semester.semester }} ({{ course.section.section }})
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}